
<%=yield %>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
              
                <div class="list-group">
                    <h4><a href="/classroom/index" class="list-group-item"><i class="fa fa-globe fa-1x" ></i> Classroom wall</a></h4>
                    <h4><a href="/classroom/discuss" class="list-group-item"><i class="fa fa-comments" ></i> Discussions</a></h4> 
                    <h4><a href="/classroom/workflow" class="list-group-item"><i class="fa fa-book fa-1x" ></i> Assignments</a></h4> 
                    <h4><a href="/classroom/quizzes" class="list-group-item"><i class="fa fa-question-circle fa-1x" ></i> Quizzes</a></h4> 
                    <h4><a href="/classroom/gradebook" class="list-group-item"><i class="fa fa-graduation-cap fa-1x" ></i> Gradebook</a></h4>
                    <h4><a href="/classroom/members" class="list-group-item"><i class="fa fa-users fa-1x" ></i> Members</a></h4>
                    <h4><a href="/classroom/library" class="list-group-item"><i class="fa fa-university fa-1x" ></i> Library</a></h4>

                    <br>
              



                </div>

            </div>


            <div class="col-md-9">