<%= render "header" %>
<%=yield %>

        <form>
        <div class="form-group">
        <label >Post</label>
        
        <textarea class="form-control" id="post" rows="2"></textarea>


        
        </div>
        <div class = "btn-cost">
          <button type="submit" id = "konj" class="btn btn-primary" style ="">Post</button>
          <button type="button" class="btn btn-danger">Upload</button>
          </div>
        
        </form>

                <div class="row carousel-holder">
</div>
</div></div></div>